<STYLE TYPE="text/css">
<!--
. {
	FONT-FAMILY: Arial,Helvetica
}

A:link {
	COLOR: #000080;
	FONT-WEIGHT: bold
}
A:active {
	COLOR: #ff0000;
	FONT-WEIGHT: bold
}
A:visited {
	COLOR: #a02020;
	FONT-WEIGHT: bold
}
A:hover {
	COLOR: #ff0000;
	FONT-WEIGHT: bold
}

A.kompass:link {
	COLOR: #FFFFFF;
	FONT-WEIGHT: bold
}
A.kompass:active {
	COLOR: #FFFFFF;
	FONT-WEIGHT: bold
}
A.kompass:visited {
	COLOR: #FFFFFF;
	FONT-WEIGHT: bold
}
A.kompass:hover {
	COLOR: #FFFFFF;
	FONT-WEIGHT: bold
}



A.q  {
	FONT-SIZE=12px
}

A.leftbar {
	FONT-SIZE: 12px;
	TEXT-DECORATION: none
}
A.leftbar:link {
	COLOR: #21213A;
	TEXT-DECORATION: none
}
A.leftbar:active {
	COLOR: #FF213A;
	TEXT-DECORATION: none
}
A.leftbar:visited {
	COLOR: #21213A;
	TEXT-DECORATION: none
}
A.leftbar:hover {
	COLOR: #21213A;
	TEXT-DECORATION: underline
}

A.topbar {
	FONT-SIZE: 12px;
	TEXT-DECORATION: none;
	FONT-WEIGHT: normal
}
A.topbar:link {
	COLOR: #21213A;
	TEXT-DECORATION: none;
	FONT-WEIGHT: normal
}
A.topbar:active {
	COLOR: #FF213A;
	TEXT-DECORATION: none;
	FONT-WEIGHT: normal
}
A.topbar:visited {
	COLOR: #21213A;
	TEXT-DECORATION: none;
	FONT-WEIGHT: normal
}
A.topbar:hover {
	COLOR: #21213A;
	TEXT-DECORATION: underline;
	FONT-WEIGHT: normal
}

A.title {
	FONT-SIZE: 12px;
	FONT-WEIGHT: bold;
	TEXT-DECORATION: none
}
A.title:link {
	COLOR: #0063BA; TEXT-DECORATION: none ;
 	FONT-WEIGHT: bold
}
A.title:active {
	COLOR: #000080; TEXT-DECORATION: none;
 	FONT-WEIGHT: bold
}
A.title:visited {
	COLOR: #000080; TEXT-DECORATION: none;
 	FONT-WEIGHT: bold
}
A.title:hover {
	COLOR: #0064BA; TEXT-DECORATION: underline;
 	FONT-WEIGHT: bold
}

A.head {
	FONT-SIZE: 14px;
	FONT-WEIGHT: bold;
}
A.head:link {
	COLOR: #0063BA; TEXT-DECORATION: none ;
}
A.head:active {
	COLOR: #000080; TEXT-DECORATION: none;
}
A.head:visited {
	COLOR: #000080; TEXT-DECORATION: none;
}
A.head:hover {
	COLOR: #0064BA; TEXT-DECORATION: underline;
}

A.pierw {
	FONT-SIZE: 12px;
	FONT-WEIGHT: bold
}
A.pierw:link {
	COLOR: #FFFFFF; TEXT-DECORATION: none
}
A.pierw:active {
	COLOR: #000080; TEXT-DECORATION: none
}
A.pierw:visited {
	COLOR: #FFFFFF; TEXT-DECORATION: none
}
A.pierw:hover {
	COLOR: #FFFFFF; TEXT-DECORATION: underline
}
P {
	FONT-SIZE: 12px
	MARGIN-TOP: 3px;
	MARGIN-BOTTOM: 3px
}

H3,H4 { 
	FONT-WEIGHT: bold
}

H3 {
	FONT-SIZE: 16px;
	MARGIN-TOP: 8px;
	MARGIN-BOTTOM: 8px
}
H4 {
	FONT-SIZE: 14px
}
TH {
	FONT-SIZE: 12px;
	FONT-WEIGHT: bold
}
TD {
	FONT-SIZE: 12px
}
TD.GENERICBAR {
	FONT-SIZE: 14px;
	FONT-WEIGHT: bold
}
BODY {
	BACKGROUND-COLOR: white;
	FONT-FAMILY: arial, helvetica, sans-serif
}

.LIGHT {
	FONT-SIZE: 11px;
	COLOR: #707070;
	FONT-FAMILY: arial, helvetica, sans-serif
}
-->
</STYLE>
