@media screen and (max-width : 520px) {
	#header {
		background: url(/view/rj/nmeth/images/journal_mobile_header.jpg) no-repeat left top #647996;
	}
}

@media	screen and (-webkit-min-device-pixel-ratio : 1.3) and (max-width : 640px) and (orientation : landscape),
		screen and (-webkit-min-device-pixel-ratio : 1.3) and (max-width : 480px) and (orientation : portrait),
		screen and (-o-min-device-pixel-ratio: 13/10) and (max-width : 640px) and (orientation : landscape),
		screen and (-o-min-device-pixel-ratio: 13/10) and (max-width : 480px) and (orientation : portrait),
		screen and (min-resolution: 1.3dppx) and (max-width : 640px) and (orientation : landscape),
		screen and (min-resolution: 1.3dppx) and (max-width : 480px) and (orientation : portrait) {
	
	#header {
		background: url(/view/rj/nmeth/images/journal_mobile_header_x2.jpg) no-repeat left top #647996;
		background-size: 320px 50px;
	}
}
